body{
    display: flex;
    justify-content: center;
    background-image: url(img/luta.jpg);
    background-size:cover;

}

.container{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 350px;
    background-color: rgba(182, 145, 146, 0.521);

}

.title{
    margin-top: 8px;
}

.content{
    margin-top: 20px;
}

.button{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.message{
    margin-top: 50px;
}